small{
    color: rgb(rgb(46, 14, 14), green, rgb(64, 64, 105));
}

.blog{
    background-color: aqua;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px;text-align: justify;

}
.blog p{
    color: red;
}